@import url(keyframes.css);
[data-sa][data-sa="fade"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="fade"].show {
  -webkit-animation-name: sa-fade;
          animation-name: sa-fade;
}

[data-sa][data-sa="from-left"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="from-left"].show {
  -webkit-animation-name: sa-from-left;
          animation-name: sa-from-left;
}

[data-sa][data-sa="from-right"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="from-right"].show {
  -webkit-animation-name: sa-from-right;
          animation-name: sa-from-right;
}

[data-sa][data-sa="from-top"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="from-top"].show {
  -webkit-animation-name: sa-from-top;
          animation-name: sa-from-top;
}

[data-sa][data-sa="from-bottom"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="from-bottom"].show {
  -webkit-animation-name: sa-from-bottom;
          animation-name: sa-from-bottom;
}

[data-sa][data-sa="flip-top"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="flip-top"].show {
  -webkit-animation-name: sa-flip-top;
          animation-name: sa-flip-top;
}

[data-sa][data-sa="flip-right"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="flip-right"].show {
  -webkit-animation-name: sa-flip-right;
          animation-name: sa-flip-right;
}

[data-sa][data-sa="flip-bottom"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="flip-bottom"].show {
  -webkit-animation-name: sa-flip-bottom;
          animation-name: sa-flip-bottom;
}

[data-sa][data-sa="flip-left"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="flip-left"].show {
  -webkit-animation-name: sa-flip-left;
          animation-name: sa-flip-left;
}

[data-sa][data-sa="scale"] {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  opacity: 0;
}

[data-sa][data-sa="scale"].show {
  -webkit-animation-name: sa-scale;
          animation-name: sa-scale;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

[data-sa][data-sa-duration="500"] {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

[data-sa][data-sa-delay="500"] {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

[data-sa][data-sa-duration="1000"] {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

[data-sa][data-sa-delay="1000"] {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

[data-sa][data-sa-duration="1500"] {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

[data-sa][data-sa-delay="1500"] {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

[data-sa][data-sa-duration="2000"] {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

[data-sa][data-sa-delay="2000"] {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

[data-sa][data-sa-duration="2500"] {
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
}

[data-sa][data-sa-delay="2500"] {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

[data-sa][data-sa-duration="3000"] {
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

[data-sa][data-sa-delay="3000"] {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

[data-sa][data-sa-duration="3500"] {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
}

[data-sa][data-sa-delay="3500"] {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

[data-sa][data-sa-duration="4000"] {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

[data-sa][data-sa-delay="4000"] {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

[data-sa][data-sa-duration="4500"] {
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
}

[data-sa][data-sa-delay="4500"] {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

[data-sa][data-sa-duration="5000"] {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}

[data-sa][data-sa-delay="5000"] {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

[data-sa][data-sa-duration="5500"] {
  -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
}

[data-sa][data-sa-delay="5500"] {
  -webkit-animation-delay: 5500ms;
          animation-delay: 5500ms;
}

[data-sa][data-sa-duration="6000"] {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

[data-sa][data-sa-delay="6000"] {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

[data-sa][data-sa-duration="6500"] {
  -webkit-animation-duration: 6500ms;
          animation-duration: 6500ms;
}

[data-sa][data-sa-delay="6500"] {
  -webkit-animation-delay: 6500ms;
          animation-delay: 6500ms;
}

[data-sa][data-sa-duration="7000"] {
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

[data-sa][data-sa-delay="7000"] {
  -webkit-animation-delay: 7000ms;
          animation-delay: 7000ms;
}

[data-sa][data-sa-duration="7500"] {
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
}

[data-sa][data-sa-delay="7500"] {
  -webkit-animation-delay: 7500ms;
          animation-delay: 7500ms;
}

[data-sa][data-sa-duration="8000"] {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

[data-sa][data-sa-delay="8000"] {
  -webkit-animation-delay: 8000ms;
          animation-delay: 8000ms;
}

[data-sa][data-sa-duration="8500"] {
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
}

[data-sa][data-sa-delay="8500"] {
  -webkit-animation-delay: 8500ms;
          animation-delay: 8500ms;
}

[data-sa][data-sa-duration="9000"] {
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
}

[data-sa][data-sa-delay="9000"] {
  -webkit-animation-delay: 9000ms;
          animation-delay: 9000ms;
}

[data-sa][data-sa-duration="9500"] {
  -webkit-animation-duration: 9500ms;
          animation-duration: 9500ms;
}

[data-sa][data-sa-delay="9500"] {
  -webkit-animation-delay: 9500ms;
          animation-delay: 9500ms;
}

[data-sa][data-sa-duration="10000"] {
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
}

[data-sa][data-sa-delay="10000"] {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}
/*# sourceMappingURL=sa.css.map */