@import url(keyframes.css);

@mixin animation-mixin($name, $duration) {
    &[data-sa="#{$name}"] {
        animation-fill-mode: forwards;
        animation-duration: #{$duration};
        opacity: 0;
        transition: opacity .5s;

        &.show {
            opacity: 1;
            animation-name: sa-#{$name};
        }
    }
}

[data-sa] {
    @for $i from 1 through 20{
        &[data-sa-duration= "#{$i*500}" ] {
            @include animation-mixin("scale", #{$i*500}ms);            
        }
    }
}