@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  .wrap {
    transition: background-color 0.2s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2vw 5vw;
    box-sizing: border-box;
    h1 {
      color: #fff;
    }
    ul {
      display: flex;
      li {
        min-width: 50px;
        text: {
          transform: capitalize;
          align: right;
        }
        & + li {
          margin-left: 10px;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
        }
      }
    }
  }
  &.fix {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.1);
    backdrop-filter: blur(2px);
    z-index: 10;
    h1 {
      color: #fff;
    }
    ul li a {
      color: #fff;
    }
  }
}
#wrap {
  width: 100%;
  margin: 0 auto;
  background : {
    image: url('../image/background.jpg');
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
    position: center;
  }
}
#main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  h2 {
    font-size: 4rem;
    display: flex;
    align-items: flex-end;
    .mainText {
      height: 5rem;
      line-height: 5rem;
      overflow: hidden;
      padding: 0 1vw;
      ul {
        transition: transform 0.2s;
        li {
          text: {
            align: center;
            transform: uppercase;
          }
        }
      }
    }
    p {
      font-size: 3rem;
    }
  }
}
.contents {
  section {
    padding: 10vw 0;
    overflow: hidden;
    &:first-child {
      padding: 0;
    }
  }
}
.box {
  width: 50vw;
  height: 50vw;
  max-width: 250px;
  max-height: 250px;
  border: solid 10px rgba(0, 0, 0, 0.7);
  margin: 20vw auto 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #ddd, $alpha: 0.4);
  box-sizing: border-box;
  &:first-child {
    margin-top: 0;
  }
  code {
    color: #fff;
    font-weight: 500;
  }
}

footer {
  padding: 5vh;
  text-align: center;
  color: #fff;
  background: #000;
}

@media (max-width: 767px) {
  #wrap {
    #main {
      h2 {
        flex-direction: column;
        text-align: center;
        .mainText {
          width: 100%;
        }
        p {
          font-size: 2rem;
        }
      }
    }
    .box {
      font-size: 12px;
    }
  }
}
