@mixin animation-mixin($arr, $duration, $delay) {
    &[data-sa="#{$arr}"] {
        animation-fill-mode: forwards;
        animation-duration: #{$duration};
        animation-delay: #{$delay};
        opacity: 0;
        &.show {
            animation-name: sa-#{$arr};
        }
    }
}
[data-sa] {
    $name: 'from-left', 'from-right', 'from-top', 'from-bottom', 'flip-top', 'flip-right', 'flip-bottom', 'flip-left', 'scale';
    
    @each $item in $name {
        @include animation-mixin($item, 1000ms, 0);
    }

    @each $item in $name {
        @for $i from 1 through 20{
            &[data-sa-duration = "#{$i*500}"] {
                @include animation-mixin($item, #{$i*500}ms, 0);            
            }
            &[data-sa-delay = "#{$i*500}"] {
                @include animation-mixin($item, 0, #{$i*500}ms);            
            }
            &[data-sa-duration = "#{$i*500}"][data-sa-delay = "#{$i*500}"] {
                @include animation-mixin($item, #{$i*500}ms, #{$i*500}ms);            
            }
        }
    }
}