@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: rgb(31, 31, 31);
}
#wrap {
    width: 100%; 
    margin: 0 auto;
}
#header {
    width: 100%;
    position: absolute;
    top: 0;
    .wrap{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
        padding: 2vw 5vw;
        box-sizing: border-box;
        h1 {
            color: #fff;
        }
        ul{
            display: flex;
            li{
                 min-width: 50px;
                 text-align: right;
                 text-transform: capitalize;
                 a{
                     display: block;
                     width: 100%;
                     height: 100%;
                     color: #fff;
                 }
            }
        }
    }
    &.fix{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba($color: #fff, $alpha: 0.7);
        z-index: 10;
        h1 {color: #000;}
        ul li a {color: #000;}
    }
}
.contents{
    section{margin-top: 50px;}
    section:first-child{margin-top: 0;}

    #main {
        background: {
            image : url(https://postfiles.pstatic.net/MjAyMTA1MTlfOSAg/MDAxNjIxNDI3NTczNzc4.0L2JXyo6uYdyPCf8FvjHpWafXeO2UHr_655A_LmW83og.1RyD76xlFgQiUbg3UNaZ1fh1dFlZXUpaX213cZg6Yykg.JPEG.thgus2270/IMG_6757.jpg?type=w966);
            size : cover;
            repeat: no-repeat;
            position : top center;
        }
        min-height: 80vh;
        h2 {
            height: 80vh;
            line-height: 80vh;
            text-align: center;
            background-color: rgba($color: #000000, $alpha: 0.7);
            span {
                color: #fff;
            }
        }
    }
}
.box {
    width: 50vw;
    height: 50vw;
    max-width: 250px;
    max-height: 250px;
    border: solid 10px skyblue;
    border-radius: 20px;
    margin: 100px auto 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap .box:first-child {margin-top: 0;}