@mixin animation-mixin($arr, $duration, $delay) {
    &[data-sa="#{$arr}"] {
        animation-duration: #{$duration};
        animation-delay: #{$delay};
        animation-fill-mode: forwards;
        opacity: 0;
        &.saShow {
            animation-name: sa-#{$arr};
        }
    }
}
[data-sa] {
    $name: 'fade', 'from-left', 'from-right', 'from-top', 'from-bottom', 'flip-top', 'flip-right', 'flip-bottom', 'flip-left', 'scale';
    
    @each $item in $name {
        @include animation-mixin($item, 1000ms, 0ms);
    }

    @each $item in $name {
        @for $i from 1 through 20{
            &[data-sa-duration = "#{$i*500}"] {
                animation-duration: #{$i*500}ms;
            }
            &[data-sa-delay = "#{$i*500}"] {
                animation-delay: #{$i*500}ms;
            }
        }
    }

    $position-items : 'from-left', 'from-right', 'from-top', 'from-bottom';
    @each $item in $position-items {
        @for $i from 1 through 20{
            &[data-sa = "#{$item}"][data-sa-offset = "#{$i*50}"].show {
                animation-name: sa-#{$item}-#{$i*50};
            }
        }
    }

    $time-functions: 'ease', 'ease-in', 'ease-out', 'ease-in-out', 'linear', 'step-start', 'step-end';
    @each $item in $time-functions {
        &[data-sa-time="#{$item}"] {
            animation-timing-function: #{$item};
        }
    }
}