@keyframes sa-fade{
    100% {
        opacity: 1;
    }
}

@keyframes sa-from-left{
    0% {
        transform: translate(-200px, 0);
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes sa-from-right{
    0% {
        transform: translate(200px, 0);
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes sa-from-top{
    0% {
        transform: translate(0, -200px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes sa-from-bottom{
    0% {
        transform: translate(0, 200px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
} 

@keyframes sa-flip-top{
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

@keyframes sa-flip-bottom{
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

@keyframes sa-flip-left{
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes sa-flip-right{
    0% {
        transform: rotateY(-90deg);
    }
    100% {
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes sa-scale{
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

$positions: 'top', 'right', 'bottom', 'left';

@for $i from 1 through 20{
    @each $position in $positions {
        @keyframes sa-from-#{$position}-#{$i*50}{
            0% {
                @if($position == 'left') {
                    transform: translate(-#{$i*50+'px'}, 0);
                }
                @else if($position == 'right') {
                    transform: translate(#{$i*50+'px'}, 0);
                }
                @else if($position == 'top') {
                    transform: translate(0, -#{$i*50+'px'});
                }
                @else if($position == 'bottom') {
                    transform: translate(0, #{$i*50+'px'});
                }
            }
            100% {
                transform: translate(0, 0);
                opacity: 1;
            }
             
        }
    }
}